<!DOCTYPE html>

<html>
    <head>
        <title>WMT Team 1 - Retail Online catalog app</title>
        <style>
            a {color: blue;}
            h1 {font-family: "Times New Roman", Times, serif;}
        </style>
    </head>

    <body>
        <h1>Item Details</h1>
        <% itemdetail.forEach((item, index) => { %>
          <ul>
            <li><label>Item_Number: </label><%= item.sku_Item_Number %></li>
            <li><label>Description: </label><%= item.sku_Description %></li>
            <li><label>Long_Description: </label><%= item.sku_Long_Description %></li>
            <li><label>Catalogue_Category: </label><%= item.sku_Catalogue_Category %></li>
            <li><label>SKU_Unit_Of_Meaure: </label><%= item.sku_SKU_Unit_Of_Meaure %></li>
            <li><label>Style_Item: </label><%= item.sku_Style_Item %></li>

            
            <% if(item.sku_SKUAttribute1 != '') %>
                  <li><%= item.sku_SKUAttribute1 + ' - ' + item.sku_SKUAtt_Value1 %></li>
            
            <% if(item.sku_SKUAttribute2 != '') %>
                  <li><%= item.sku_SKUAttribute2 + ' - ' + item.sku_SKUAtt_Value2 %></li>

            <% if(item.sku_SKUAttribute3 != '') %>
                  <li><%= item.sku_SKUAttribute3 + ' - ' + item.sku_SKUAtt_Value3 %></li>

            <% if(item.sku_SKUAttribute4 != '') %>
                  <li><%= item.sku_SKUAttribute4 + ' - ' + item.sku_SKUAtt_Value4 %></li>
            
            <% if(item.sku_SKUAttribute5 != '') %>
                  <li><%= item.sku_SKUAttribute5 + ' - ' + item.sku_SKUAtt_Value5 %></li>

            <% if(item.sku_SKUAttribute6 != '' ) %>
                  <li><%= item.sku_SKUAttribute6 + ' - ' + item.sku_SKUAtt_Value6 %></li>      

            <li><label>Segment: </label><%= item.cat_Segment %></li>
            <li><label>Segment_Name: </label><%= item.cat_Segment_Name %></li>
            <li><label>Family: </label><%= item.cat_Family %></li>
            <li><label>Family_Name: </label><%= item.cat_Family_Name %></li>
            <li><label>Class: </label><%= item.cat_Class %></li>
            <li><label>Class_Name: </label><%= item.cat_Class_Name %></li>
            <li><label>Commodity_Name: </label><%= item.cat_Commodity_Name %></li>
            <li><label>Description: </label><%= item.sty_Description %></li>
            <li><label>Long_Description: </label><%= item.sty_Long_Description %></li>
            <li><label>Brand: </label><%= item.sty_Brand %></li>
            <li><label>PriceID: </label><%= item.prc_PriceID %></li>
            <li><label>List_Price: </label><%= item.prc_List_Price %></li>
            <li><label>Discount: </label><%= item.prc_Discount %></li>
            <li><label>InStock: </label><%= item.prc_InStock %></li>
            <li><label>Price_Effective_Date: </label><%= item.prc_Price_Effective_Date %></li>
          </ul>
        <% }); %>
    <P><a href='/prodlist'>Back</a>
    </P>
    </body>
</html>